.pos .modal-dialog .popup-rksv-status {
    position: absolute !important;
    top:0px !important;
    left:0px !important;
    width:100% !important;
    height:100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
